
body{
    background-color: #F1F1F1;
}

.menu-pelicula > .opciones {
    background-color: #F1F1F1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 1.25rem;
}

.navbar-setup {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.slider {
    height: 70vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.img-responsive {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: top;
}

@media only screen and (max-width: 1024px) {
    .img-responsive {
        height: 70vh;
    }
}

.menu-pelicula {
    position: relative;
    bottom: 40px;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 539px) {
    .centrar-imagen {
        margin: 0 auto;
    }
}

@media only screen and (min-width: 540px) and (max-width: 1216px) {
    .is-multiline {
        display: flex;
    }
}

/* Slider */
.control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -24px;
    z-index: 55;
}

.control label svg {
    width: 48px;
    height: 48px;

    fill: #fff;
    stroke: currentColor;
    stroke-width: 0;
}

.control label svg:hover {
    transition: all .2s ease;
    fill: #000;
}

.control label {
    z-index: 0;
    cursor: pointer;
    opacity: 0.5;
}

.control label:hover {
    opacity: 1.0;
}

.next {
    right: 1%;
}
.previous {
    left: 1%;
}

.slider-informacion {
    position: absolute;
    top: 20%;
    left: 18%;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-content: space-between;
}

@media only screen and (max-width: 539px) {
    .slider-informacion{
        left: 16%;
        height: 300px;
    }
}

.fecha {
    display: flex;
    flex-direction: column;
}

.trailer {
    margin-top: 4rem;
}

/* el url del card pelicula tenemos que pasarlo dinamicamente. */


/* Pelicula Card */

.pelicula-card {
    width: 250px;
    height: 320px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
    text-align: center;
    position: relative;
    margin-bottom: .7rem;
    /* margin-left: auto;
    margin-right: auto; */

    background: url(https://www.dvdsreleasedates.com/posters/300/J/Jumanji-Welcome-to-the-Jungle-2017.jpg) no-repeat;
    background-position: top center;
}

.pelicula-body {
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.pelicula-trailer {
    position: absolute;
    top: 30%;
    left: 40%;
}

.pelicula-horario {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.pelicula-opciones {
    display: flex;
    justify-content: center;
}

/* Filtro */

.es-largo {
    width: 100%;
}


.filtro {
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.05);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.05);
    color: #434c5a;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    min-width: 130px;
    position: relative;
    text-align: center;
    text-decoration: none;
}