.box-form{
    padding: 2rem;
    border-radius: 2%;
    background-color: #fff;
}

.logo-container{
    display: flex;
    align-items: center;
}

.logo-container img{
    max-height: 2rem;
    margin-right: .2rem;
}

.logo-container span{
    font-family: 'Jua', sans-serif !important;
    font-size: 1.5rem;
}